body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1bdf3;
  }
  
  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  main {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #3498db;
    color: white;
  }
  
  input {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #3498db;
    border-radius: 4px;
    background-color: #ecf0f1;
    color: #333;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #2980b9;
  }
  
  /* Glossy transparent finish for table rows */
  tbody tr {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
    transition: background 0.3s;
  }
  
  /* Optional: Hover effect for the table rows */
  tbody tr:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
  }
  
  /* Stylish box for posts */
  td ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  td ul li {
    background-color: #CDF0FF;
    color: black;
    padding: 8px;
    margin: 4px 0;
    border-radius: 4px;
  }

  input[type="text"] {
    width: calc(25% - 24px); /* Adjust the width as needed */
    padding: 12px;
    margin: 0 auto; /* Center the search bar */
    display: block;
    border: 0px solid #3498db;
    border-radius: 25px; /* Adjust the border-radius to make it more rounded */
    background-color: #ecf0f1;
    color: #333;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #2980b9;
  }